.ad {
  margin-bottom: 130px;

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    .ad__block {
      background-color: #055BD3;
      border-radius: 5px;
      display: flex;
      position: relative;
      max-width: 625px;
      width: 100%;
      padding: 70px 286px 81px 30px;

      .ad__title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        color: #FFFFFF;
        max-width: 309px;
        width: 100%;
      } 

      .ad__img {
        position: absolute;
        right: 0;
        bottom: 0;
      } 
    }
  }
}
