.place {
  margin-bottom: 128px;

  &__inner {
    .place__header {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 37px;
    }

    .place__label {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #333333;
      margin-bottom: 15px;
    }

    .place__input {
      border-radius: 3px;
      background-color: rgba(51, 51, 51, 0.1);
      padding: 16px;
      border: none;
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #333333;
      width: 100%;
    }
    .place__title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 30px;
    }

    .place__section {
      padding: 40px 35px;
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-radius: 2px;
      margin-bottom: 50px;

      .place__datetime {
        margin-bottom: 30px;

        .place__datetime__inputs {
          display: flex;

          input {
            padding: 15px;
            height: 50px;
            background-color: rgba(51, 51, 51, 0.1);
            border-radius: 3px;
            border: none;
          }

          input:nth-child(2) {
            margin-left: 40px;
          }
        }
      }

      .place__category {
        display: flex;
        column-gap: 30px;
        margin-bottom: 30px;

        &__block {
          max-width: 310px;
          width: 100%;

          .place__select {
            padding: 16px;
            border-radius: 3px;
            background-color: rgba(51, 51, 51, 0.1);
            border: none;
            width: 100%;

            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
          }
        }
      }

      .place__type {
        display: flex;
        column-gap: 30px;
        margin-bottom: 15px;

        &__block {
          max-width: 310px;
          width: 100%;

          .place__switch {
            position: relative;
            display: inline-block;
            width: 310px;
            height: 50px;
            border-radius: 3px;

            .place__slider {
              display: flex;
              position: absolute;
              cursor: pointer;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: rgba(51, 51, 51, 0.1);
              border-radius: 3px;

              &__text {
                position: absolute;
              }

              &__text:nth-child(1) {
                transform: translate(50px, 15px);
              }

              &__text:nth-child(2) {
                transform: translate(200px, 15px);
              }

              &:before {
                position: absolute;
                content: "";
                height: 50px;
                width: 155px;
                background-color: #006AFF;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 3px;
              }
            }

            .place__checkbox:focus + .place__slider {
              box-shadow: 0 0 1px #2196F3;
            }

            .place__checkbox:checked + .place__slider:before {
              -webkit-transform: translateX(155px);
              -ms-transform: translateX(155px);
              transform: translateX(155px);
            }
          }
        }

        .place__input {
          text-decoration-line: underline;
          color: #0085FF;
        }
      }

      .place__list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        column-gap: 20px;
        flex-wrap: wrap;

        .place__item {
          max-width: 310px;
          width: 100%;
          margin-bottom: 34px;
        }
      }
    }

    .place__title:nth-child(2) {
      margin-bottom: 27px;
    }

    .place__radios {
      display: flex;
      margin-bottom: 18px;
      max-width: 370px;
      width: 100%;
      margin-left: 54px;
      column-gap: 20px;

      &__label {
        display: flex;
        column-gap: 10px;

        .place__radios__p {
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #333333;
        }
      }
    }

    .place__input__post {
      border: none;
      background-color: transparent;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 42px;
      color: #333333;
      margin-bottom: 50px;
    }

    .place__post__block {
      margin-bottom: 40px;
    }

    .place__file__button {
      border: none;
      text-align: center;
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }

    .place__warning {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      color: #006AFF;
      margin-bottom: 61px;
    } 

    .place__buttons {
      display: flex;
      column-gap: 15px;
      margin-top: 50px;

      .place__reset {
        padding: 16px 36px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #B2BBC8;
        border: none;
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #B2BBC8;
        border-radius: 3px;
        cursor: pointer;
      }

      .place__submit {
        padding: 16px 44px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        background-color: #006AFF;
        border-radius: 3px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
