.card {
  padding: 0;
  margin: 0;
  max-width: 407px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  margin-bottom: 70px;

  &__link {
    text-decoration: none;
    color: #333333;

    .card__img {
      margin-bottom: 20px;
    }

    .card__info {
      padding: 0 30px 56px 30px;

      .card__title {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: #333333;
        margin-bottom: 25px;
      }

      .card__desc {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;

        .card__list {
          list-style-type: none;
          padding: 0;
          margin: 0;

          .card__item {
            display: flex;
            column-gap: 8px;

            .card__p {
              font-family: 'SF Pro Display';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #333333;
            }
          }

          .card__item + .card__item {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
