.events {
  margin-bottom: 144px;

  &__inner {
    .events__heading {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 50px;
    }

    .events__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      justify-content: space-around;
    }

    .events__button {
      padding: 15px 20px;
      margin: 0;
      border: none;
      color: white;
      background-color: #006AFF;
      border-radius: 5px;
      display: flex;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}
