.footer {
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
  padding: 40px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      .footer__item {
        .footer__link {
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer__item + .footer__item {
        margin-left: 70px;
      }
    }

    .footer__contacts {
      display: flex;

      .footer__phone {
        display: flex;
        text-decoration: none;
        color: white;

        &:hover {
          text-decoration: underline;
        }

        .footer__tel {
          margin-left: 10px;
        }
      }

      .footer__social-media {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 70px;

        .footer__social-media__item + .footer__social-media__item {
          margin-left: 15px;
        } 
      }
    }
  }
}
