.header {
  z-index: 1000;
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &__inner {
    display: flex;
    padding: 22px 0;
    justify-content: space-between;
    align-items: center;

    #logo {
      margin-right: 50px;
    }

    .header__elements {
      display: flex;
      justify-content: space-between;
      max-width: 891px;
      width: 100%;

      .header__form {
        position: relative;
        

        .header__submit {
          position: absolute;
          background-color: transparent;
          border: none;
          padding: 0;
          margin: 0;
          margin-top: 11px;
          margin-left: 15px;
        }

        .header__input {
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          padding: 14px 20px 14px 49px;
          background-color: rgba(255, 255, 255, 0.1);
          color: white;

          &::placeholder {
            color: white;
          }
        }
      }

      .header__nav {
        display: flex;
        margin-left: 20px;

        .nav__list {
          display: flex;
          list-style-type: none;
          padding: 0;
          margin: 0;
          align-items: center;

          .nav__item {
            .nav__link {
              text-decoration: none;
              color: white;              
              font-family: 'SF Pro Display';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;

              &:hover {
                text-decoration: underline;
              }

            }

            &:nth-child(3) {
              .nav__link {
                padding: 15px 20px;
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                background-color: #FE8B37;
                border-radius: 4px;
                transition: background-color 0.3s;

                &:hover {
                  text-decoration: none;
                  background-color: #FE8B90;
                  transition: background-color 0.3s;
                }
              }
            }
          }
          
          .nav__item + .nav__item {
            margin-left: 40px;
          }
        }
      }
    }
  }
}
