.hero {
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
  margin-bottom: 202px;

  &__inner {
    padding-top: 90px;
    padding-bottom: 141px;
    position: relative;

    .hero__heading {
      color: white;
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 79px;
      text-align: center;
      color: #FFFFFF;
      max-width: 840px;
      margin: 0 auto;
    }

    .hero__list { 
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateY(50px);
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: #fff;
      justify-content: space-between;
      overflow: hidden;

      .hero__item {
        .hero__button {
          display: flex;
          padding: 38px 40px;
          align-items: center;
          background-color: white;
          border: none;
          border-left:  1px solid rgba(51, 51, 51, 0.2); 
          column-gap: 10px;

          &:hover {
            cursor: pointer;
          }
        }

        &:nth-child(5) {
          background-color: #006AFF;
          
          .hero__button {
            color: white;
            background-color: #006AFF;
          }
        }
      }
    }
  }
}
